<% 
	video  ||= @video
	width  ||= 200
	height ||= 125
	dom_id ||= edit_video_dom_id(video)
%>
<div id="<%= dom_id %>" class="modal hide fade in video-popup">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3><%= t(".title") %></h3>
	</div>
	
	<% content_for :embed do %>
	<p class="embed">
		<%=raw video_embed_code(video.video_id, :player_type => 'simple', :width => width, :heigth => height) %>
		<label><%= video.human_source_name %></label>
	</p>
	<% end %>

	<%= simple_form_for video, :url => video_path(video), 
		:html => {:method => :put, :id => "edit-form", :multipart => true, :class => "edit form-stacked"}, 
			:remote => true, :validate => true do |f| %> 
			
		<%= render "form", :f => f %>
		
		<div class="modal-footer">
			<input type="submit" class="btn primary" value="<%= t ".submit" %>">&nbsp;
			<button type="reset" class="btn cancel"><%= t ".reset" %></button>
			<%= yield :delete %>
		</div>
	<% end %>
</div>
