<div class="modal-body">
	<%= yield :embed %>
	<div class="fields">
		<%= f.error_notification %>
			<div class="clearfix string required">
				<%= f.label :title, '<abbr title="required">*</abbr> Title'.html_safe, :class => "string required" %>
				<div class="input">
					<%= f.text_field :title, :class => "large string required", :size => 30, "data-validate" => "true" %>
					<span class="help-block">Up to 140 characters.</span>
				</div>
			</div>
			
			<%= f.fields_for @user do |u| %>
				<div class="clearfix string required">
					<%= u.label :name, '<abbr title="required">*</abbr> Name'.html_safe, :class => "string required" %>
					<div class="input">
						<%= u.text_field :name, :class => "medium string required", :size => 30, "data-validate" => "true" %>
						<span class="help-block">will not appear next to your video.</span>
					</div>
				</div>

				<div class="clearfix string required">
					<%= u.label :email, '<abbr title="required">*</abbr> Email'.html_safe, :class => "string required" %>
					<div class="input">
						<%= u.text_field :email, :class => "medium string required", :size => 30, "data-validate" => "true" %>
						<span class="help-block">we don't share with anyone.</span>
					</div>
				</div>
			
				<div class="clearfix">
					<div class="input">
						<ul class="inputs-list">
							<li>
								<label for="user-terms">
									<%= u.check_box :terms, :id => "user-terms" %>
									<span>I understand and agree to the <a href="#">Terms and Conditions</a></span>
								</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix">
					<div class="input">
						<span class="help-block">
							<strong>Important:</strong> Do not upload any TV shows, music videos, music concerts, or commercials without permission unless they consist entirely of content you created yourself.
						</span>
					</div>	
				</div>
			<% end %>

	</div>
	<div class="clearfix"></div>
</div>
<div class="modal-footer">
	<input type="submit" class="btn primary" value="Update">&nbsp;
	<button type="reset" class="btn cancel">Cancel</button>
	<%= yield :delete %>
</div>
