<div class="modal-body">
	<%= yield :embed %>
	<div class="fields">
		<%= f.error_notification %>
			<div class="clearfix string required">
				<%= f.label :title, "<abbr title=\"required\">*</abbr> #{raw t ".title.label"}".html_safe, :class => "string required" %>
				<div class="input">
					<%= f.text_field :title, :class => "large string required", :size => 30, "data-validate" => "true" %>
					<span class="help-block"><%=raw t ".title.hint" %></span>
				</div>
			</div>
			<%= f.fields_for f.object.user || User.new do |u| %>
				<div class="clearfix string required">
					<%= u.label :name, "<abbr title=\"required\">*</abbr> #{raw t ".name.label"}".html_safe, :class => "string required" %>
					<div class="input">
						<%= u.text_field :name, :class => "large string required", :size => 30, "data-validate" => "true" %>
						<span class="help-block"><%=raw t ".name.hint" %></span>
					</div>
				</div>

				<div class="clearfix string required">
					<%= u.label :email, "<abbr title=\"required\">*</abbr> #{raw t ".email.label"}".html_safe, :class => "string required" %>
					<div class="input">
						<%= u.text_field :email, :class => "large string required unique", :size => 30, "data-validate" => "true" %>
						<span class="help-block"><%=raw t ".email.hint" %></span>
					</div>
				</div>
			
				<div class="clearfix">
					<div class="input">
						<ul class="inputs-list">
							<li>
								<label for="user-terms">
									<%= u.check_box :terms, :id => "user-terms" %>
									<span><%=raw t ".terms" %></span>
								</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix">
					<div class="input">
						<span class="help-block">
							<%=raw t ".notice" %>
						</span>
					</div>	
				</div>
			<% end %>

	</div>
	<div class="clearfix"></div>
</div>