<% 
	video ||= nil 
	width ||= 525
	height ||= 436
	dom_id ||= video_dom_id(video)
%>
<div id="<%= dom_id %>" class="modal hide fade in video-popup">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3><%= video.title || "No Title" %></h3>
	</div>
	<div class="modal-body">
		<p class="embed">
			<%= video_embed_code(video.video_id, :player_type => 'simple', :width => width, :heigth => height) %>
		</p>
	</div>
	<div class="modal-footer">
		<div class="twitter-button">
		  <a href="https://twitter.com/share?url=<%= video_url(video) %>&amp;via=<%=u t("site.twitter").strip %>&amp;text=<%=u t("twitter", :title => video.title).strip %>" class="twitter-share-button">Tweet</a>
		</div>
		<div class="facebook-button">
			<fb:like send="false" layout="button_count" width="250" show_faces="false" href="<%= video_url(video) %>"></fb:like>
		</div>
		<%= @delete_button %>
		<% @delete_button = nil %>
	</div>
</div>
