<% if @videos.blank? %>
	<p>No videos available.</p>
<% else %>
	<% @videos.each do |video| %>
	<li>
		<% if current_session == video.session && !video.user %>
			<% @delete_button = capture do %>
				<%= delete_video_link(video) %>
			<% end %>
			<%
				partial, dom_id = "edit", edit_video_dom_id(video)
			%>
		<% elsif current_session == video.session || (video.user && current_session.user == video.user) %>
			<% @delete_button = capture do %>
				<%= delete_video_link(video) %>
			<% end %>
			<%
				partial, dom_id = "show", video_dom_id(video)
			%>
		<% else %>
			<%
				partial, dom_id = "show", video_dom_id(video)
			%>
		<% end %>
		<%= render partial, :video => video %>
		<a data-controls-modal="<%= dom_id %>" data-backdrop="static" rel="popover" data-content="<%= video.description %><span class='label <%= video_status_label(video) %>'><%= video.human_status_name %></span>" data-original-title="<%= video.title %>" data-video-id="<%= video.video_id %>" class="thumb">
			<%= image_tag video.thumbnail_url, :size => "114x86", :alt => video.title %>
		</a>
	</li>
	<% end %>
	<script>
		$(document).trigger("list-loaded");
	</script>
<% end %>
