<% if @videos.blank? %>
	<p>No videos available.</p>
<% else %>
	<% @videos.each do |video| %>
	<li>
		<a data-controls-modal="modal-video-<%= video.video_id %>" data-backdrop="static" rel="popover" data-content="<%= video.description %>" data-original-title="<%= video.title %>">
			<%= image_tag video['thumbnail_url'], :size => "210x150", :alt => video['description'] %>
		</a>
		<%= render "show", :video => video %>
	</li>
	<% end %>
	<script>
		$(document).trigger("list-loaded");
	</script>
<% end %>
