<%= render "show", :video => @video, :dom_id => video_dom_id(@video) %>
<a id="<%= video_dom_id(@video) %>-link" data-controls-modal="<%= video_dom_id(@video) %>" data-backdrop="static" rel="popover" data-content="<%= @video.description %>" data-original-title="<%= @video.title %>">
</a>
<%= javascript_tag do %>
	$(function() {
		$("#<%= video_dom_id(@video) %>-link").trigger("click");
	});
<% end %>
